<div class="page-header">
  <div class="container">
    <h1>Student Profile</h1>
  </div>
</div>
<div class="container m-1">

  <div class="container end-xs m-1">
    <div class="row">
      <div class="col-xs-12">
        <button mat-raised-button color="primary" routerLink="/students">
          <i class="material-icons" style="margin-right: 5px;">arrow_back</i>Go Back</button>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-6">
    <form #studentDetailForm="ngForm">
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput [(ngModel)]="student.firstName" name="firstName">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput [(ngModel)]="student.lastName" name="lastName">
          </mat-form-field>
        </div>
        <div class="col-xs-12" style="margin-left: 1px;">
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="studentDOB" name="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput [(ngModel)]="student.email" name="email">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input type="number" matInput [(ngModel)]="student.mobile" name="mobile">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="currentStudentGender" name="gender">
                <mat-option value="" selected></mat-option>
                <mat-option *ngFor="let gender of genders" [value]="gender.description">
                  {{gender.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<div class="container end-xs m-1">
  <div class="row">
    <div class="col-xs-12">
      <button mat-raised-button color="warn" style="margin-right: 10px" (click)="deleteStudent()">Delete</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>

