<div class="page-header">
  <div class="container">
    <h1>Students</h1>
  </div>
</div>

<div class = "container">
  <div class="row end-xs m-1" style="margin-bottom: -1em;">
    <div class="col-xs-12">
      <mat-form-field appearance="outline" >
        <mat-label>Search students</mat-label>
        <input matInput (keyup)="filterStudents()" [(ngModel)]="filterString">
      </mat-form-field>
    </div>
  </div>
  <div class="m-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <th style="padding-left: 20px;" mat-header-cell *matHeaderCellDef> DOB </th>
        <td style="padding-right: 20px; padding-left: 20px;" mat-cell *matCellDef="let student"> {{student.dateOfBirth | date: 'MM-dd-yyyy'}} <br> </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let student"> {{student.email}} </td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let student"> {{student.mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td style="padding-left: 20px" mat-cell *matCellDef="let student"> {{student.gender.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
    [length]="100"
    [pageSize]="15"
    [pageSizeOptions]="[5,15,25,100]" aria-label="Select page">
  </mat-paginator>
  </div>
</div>


